<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content="width=device-width, initial-scale=1.0,
        minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>AskDjango's blog</title>
    </head>
<body>


<h1>AskDjango Static 게시판</h1>

<p>
에스크컴패니 인강듣는중
</p>

<ul>
    <li>개강 끔찍해</li>
    <li>방학 너무 좋아</li>
    <li>여행 가고싶은데 돈이 없군</li>
</ul>

</body>
</html>

<h1>여기는 레알 게시판</h1>
{%for post in posts%}
<h2>{{post.title}}</h2>
<p>{{post.content}}</p>
<p>created at: {{post.created_at}}</p>
<p>by<i>{{post.writer}}</i></p><hr>
{% endfor %}